.hamburger {
  display: block;
  width: 30px;
  height: 3px;
  background: currentColor;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: currentColor;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.hamburger::before {
  top: -10px;
}

.hamburger::after {
  bottom: -10px;
}

.hamburger.open {
  transform: rotate(45deg);
}

.hamburger.open::before {
  top: 0;
  transform: rotate(90deg);
}

.hamburger.open::after {
  bottom: 0;
  transform: rotate(90deg);
}

.last-nav-item {
  margin-right: 0; 
}